body {
    background-color: #ffebf0;
    color: #ff69b4;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.button {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ff69b4;
    color: white;
    text-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493;
    box-shadow: 0 0 10px #ff69b4, 0 0 20px #ff1493;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 20px;
}
.button:hover {
    box-shadow: 0 0 15px #ff1493, 0 0 30px #ff1493;
}
.text {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff1493;
    text-shadow: 0 0 5px #ff69b4, 0 0 10px #ff1493;
}

.slogan {
    font-size: 40px;
    font-weight: bold;
    color: #ff1493;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #ff69b4;
}
.icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.music-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: #ff69b4;
    text-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493;
}